body {
  background: white;
}

.maincontainer {
  width: 200px;
  height: 260px;
  border: 1px solid #ccc;
  margin: 40px 0;
  perspective: 600px;
  transform: translate(-50%, -50%);
}

.card {
  width: 100%;
  height: 100%;
  transition: all 0.8s ease;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ffc728;
  color: #000;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: purple;
  color: white;
  transform: rotateY(180deg);
}

.flipCard {
  transform: rotateY(180deg);
}
