.pagination {
  display: flex;
  justify-content: center;
  margin-top: 130px;
}
ul {
  list-style: none;
  padding: 0;
}
ul.pagination li {
  display: inline-block;
  width: 50px;
  height: 40px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
ul.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}
ul.pagination li:last-child {
  border-radius: 0 5px 5px 0;
}
ul.pagination li a {
  text-decoration: none;
  color: #337ab7;
  font-size: 1rem;
}
ul.pagination li.selected a {
  color: white;
}
ul.pagination li.selected {
  background-color: #93c5fd;
}
ul.pagination li a:hover,
ul.pagination li a.selected {
  color: #3b82f6;
}
.page-selection {
  width: 48px;
  height: 30px;
  color: #acd8ff;
}
