.pagination {
  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
  padding: 0;
}
ul.pagination li {
  display: inline-block;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
ul.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}
ul.pagination li:last-child {
  border-radius: 0 5px 5px 0;
}
ul.pagination li a {
  text-decoration: none;
  color: #337ab7;
  font-size: 20px;
}
ul.pagination li.selected a {
  color: white;
}
ul.pagination li.selected {
  background-color: #93c5fd;
  border-radius: 50px;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #acd8ff;
}
